
<div class="home" >
    
    <div style="amax-width: 400px; display: flex; flex-direction: row; flex-wrap: wrap" >
    
        <div>
            <h2>Latest articles</h2>
            <div style="display: flex; flex-direction: column" >
            <% @articles.each do |a| %>
                <%= render 'components/articleCard', article: a %>
            <% end %>
            </div>
        </div>



  
    </div>
</div>