<div class="home" >

    <div style="amax-width: 400px; display: flex; flex-direction: row" >
    
        <div>
            <h2>Latest articles</h2>
            <div style="display: flex; flex-direction: column-reverse" >
            <% @latestArticles.each do |a| %>
                <%= render 'components/articleCard', article: a %>
            <% end %>
            </div>
        </div>

#         <div>
#             <h2>Latest editors</h2>
#            <div style="display: flex; flex-direction: column-reverse" >
#                 <% @latestArtists.each do |a| %>
#                     <%= render 'components/artistCard', artist: a %>
#                 <% end %>
#             </div>
#         </div>
    </div>
</div>